.project-container {
    border-style: solid;
    border-width: 4px; 
    border-color: black;
    margin: 3px;
    padding: 5px;
}

.panel-header {
    font-size: 24px;
    font-style: bold;

    padding: 10px;
}
.panel-body {
    background-color:whitesmoke;
    color: black;

    height:100%;
}
